.sub-title {
  margin-top: -5px;
  font-weight: 600;
  color: #555;
  margin-bottom: 55px;
}

.pp-section {
  padding: 100px 0 85px 0;
}

.section-head {
  margin-bottom: 35px;
}
.plan-style {
  margin: auto;
  text-align: center;
  background-color: #fff;
  position: relative;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;  
}
.plan-style .bg-blue {
  background: linear-gradient(to right, #0097e6, #0652dd);
}
.plan-style .bg-blue-btn {
  background: linear-gradient(to right, #0097e6, #0652dd, #0097e6, #0652dd);
  background-size: 300% 100%;
}

.plan-style .bg-blue-btn:hover{
    background-position: 100% 0;
    color: #fff;
    box-shadow: 0px 20px 20px #eee;
    transition: all .3s ease-in-out;
}
.plan-style .bg-orange {
    background: linear-gradient(to right, #fe8c00, #f83600);
  }
  .plan-style .bg-orange-btn {
    background: linear-gradient(to right, #fe8c00, #f83600, #fe8c00, #f83600);
    background-size: 300% 100%;
  }
  
  .plan-style .bg-orange-btn:hover{
      background-position: 100% 0;
      color: #fff;
      box-shadow: 0px 20px 20px #eee;
      transition: all .3s ease-in-out;
  }

  .plan-style .bg-blue-btn:hover{
    background-position: 100% 0;
    color: #fff;
    box-shadow: 0px 20px 20px #eee;
    transition: all .3s ease-in-out;
}
.plan-style .bg-green {
    background: linear-gradient(to right, #19e757, #007a1b);
  }
  .plan-style .bg-green-btn {
    background: linear-gradient(to right, #19e757, #007a1b, #19e757, #007a1b);
    background-size: 300% 100%;
  }
  
  .plan-style .bg-green-btn:hover{
      background-position: 100% 0;
      color: #fff;
      box-shadow: 0px 20px 20px #eee;
      transition: all .3s ease-in-out;
  }

  .plan-style .blue-bg-img{
    background-image: url("img.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(255,255,255,0.85);
  }
  .plan-style .orange-bg-img{
    background-image: url("img.jpg");
    background-size: 100%;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(255,255,255,0.85);
    opacity: .7;
  }

  .plan-style .green-bg-img{
    background-image: url("img.jpg");
    background-size: 100%;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(255,255,255,0.85);
    opacity: .9;
  }

/*
  .plan-style-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
  }
  */
  .plan-style .plan-header{
    padding: 30px 0 20px 0;
    z-index: 1;
    position: relative;
  }
  .plan-style .plan-header h3{
    width: 60%;
    padding: 0px 12px;
    margin: -10px auto 0;
    border-radius: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
  }
  .plan-style .plan-header .price{
    width: 130px;
    margin: 30px auto -2px;
    border-radius: 20px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
  }
  .plan-header .price .price-digit{
    font-size: 55px;
    font-weight: 900;
  }

  .plan-style .plan-detail{
    z-index: 1;
    position: relative;
  }

  .plan-style .plan-detail ul{
    padding: 0;
    list-style-type: none;
    color: #666;
  }

  .plan-style .plan-detail ul li{
    padding: 5px 0;
  }

  .plan-style .plan-buttom{
    margin: 5px;
    padding: 12px 0 32px 0;
    position: relative;
    overflow: hidden;
    color: #000;
  }

  .plan-style .plan-button{
    padding: 10px 18px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #111;
    border: none;
    border-radius: 40px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }

  .plan-style{
    border: 2px solid #cccccc;
  }

  .plan-style.blue-shadow:hover{
    box-shadow: 0px 0px 30px 11px #0652dd;
    border: 2px solid transparent;
  }

  .plan-style.active{
    box-shadow: 0px 0px 30px -10px #eedfdb;
    transform: scale(1.08);
  }

  .plan-style.orange-shadow:hover{
    box-shadow: 0px 0px 30px 11px #f23600;
    border: 2px solid transparent;
  }

  .plan-style.green-shadow:hover{
    box-shadow: 0px 0px 30px 11px #19e757;
    border: 2px solid transparent;
  }
  